&#8226; Added “What’s new” dialog<br />
&#8226; Entry Browser now shows the number of entries<br />
&#8226; Show Mistakes dialog isn’t sorted alphabetically anymore<br />
&#8226; It’s now possible to load files containing a single language<br />
&#8226; New error messages and small fixes
